[submodule "document_alamofire/before"]
	path = document_alamofire/before
	url = https://github.com/Alamofire/Alamofire.git
[submodule "document_moya_podspec/before"]
	path = document_moya_podspec/before
	url = https://github.com/ashfurrow/Moya.git
[submodule "document_realm_swift/before"]
	path = document_realm_swift/before
	url = https://github.com/realm/realm-cocoa.git
